#exportPattern("^[[:alpha:]]+")
useDynLib(coombs, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(chatgpt, ask_chatgpt)
importFrom(gtools, permutations)
importFrom(smacof, unfolding)
exportPattern("%!in%")
exportPattern("CS_ranking")
exportPattern("DCC")
exportPattern("four_tuples")
exportPattern("GPTbinarytree")
exportPattern("rotate")
exportPattern("print.CS_ranking")
exportPattern("summary.CS_ranking")
exportPattern("plot.CS_ranking")