#exportPattern("^[[:alpha:]]+")
useDynLib(coombs, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(chatgpt, ask_chatgpt)
importFrom(gtools, permutations)
importFrom(smacof, unfolding)
importFrom(graphics, abline)
importFrom(stats, cor, density)
importFrom(utils, adist, combn)
S3method(print, CS_ranking)
S3method(summary, CS_ranking)
S3method(plot, CS_ranking)
exportPattern("`%!in%`")
exportPattern("CS_ranking")
exportPattern("GPTbinarytree")
exportPattern("rotate")